<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<string>YES</string>
	<key>UIRequiredDeviceCapabilities</key>
	<string>&lt;key&gt;NSLocationAlwaysUsageDescription&lt;/key&gt;
    &lt;string&gt;Your location is required for accurate notifactions  benefits for you , also you cane disable it with no problem &lt;/string&gt;
    &lt;key&gt;NSLocationWhenInUseUsageDescription&lt;/key&gt;
    &lt;string&gt;Your location is required for accurate notifaction benefits for you  lso you cane disable it with no problem &lt;/string&gt;</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIInterfaceOrientation</key>
	<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
  &lt;key&gt;CFBundleName&lt;/key&gt;
  &lt;string&gt;Runner&lt;/string&gt;
  &lt;key&gt;NSLocationWhenInUseUsageDescription&lt;/key&gt;
  &lt;string&gt;We need your location to provide location-based task reminders.&lt;/string&gt;
  &lt;key&gt;NSLocationAlwaysUsageDescription&lt;/key&gt;
  &lt;string&gt;We need your location to track tasks in the background.&lt;/string&gt;
&lt;/dict&gt;
&lt;/plist&gt;</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<dict>
		<key>CFBundleName</key>
		<string>Runner</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>We need your location to provide location-based task reminders.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>We need your location to track tasks in the background.</string>
	</dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flutter Application 1</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>&lt;key&gt;UIBackgroundModes&lt;/key&gt;
&lt;array&gt;
  &lt;string&gt;fetch&lt;/string&gt;
  &lt;string&gt;remote-notification&lt;/string&gt;
&lt;/array&gt;

&lt;key&gt;NSLocationWhenInUseUsageDescription&lt;/key&gt;
&lt;string&gt;Your location is used to help track tasks near you.&lt;/string&gt;
&lt;key&gt;NSLocationAlwaysUsageDescription&lt;/key&gt;
&lt;string&gt;Your location is used to help track tasks near you.&lt;/string&gt;
&lt;key&gt;UIUserTrackingUsageDescription&lt;/key&gt;
&lt;string&gt;We need to use your location to give you task notifications based on your location.&lt;/string&gt;</string>
	<key>CFBundleIconFile</key>
	<string>&lt;key&gt;NSCalendarsUsageDescription&lt;/key&gt;
&lt;string&gt;Access most functions for calendar viewing and editing.&lt;/string&gt;

&lt;key&gt;NSContactsUsageDescription&lt;/key&gt;
&lt;string&gt;Access contacts for event attendee editing.&lt;/string&gt;</string>
	<key>CFBundleIconFiles</key>
	<string>&lt;key&gt;UIBackgroundModes&lt;/key&gt;
&lt;array&gt;
    &lt;string&gt;fetch&lt;/string&gt;
    &lt;string&gt;remote-notification&lt;/string&gt;
&lt;/array&gt;</string>
	<key>CFBundleIconName</key>
	<string>&lt;key&gt;NSLocationWhenInUseUsageDescription&lt;/key&gt;
&lt;string&gt;This app needs access to location when open to provide location-based reminders.&lt;/string&gt;
&lt;key&gt;NSLocationAlwaysUsageDescription&lt;/key&gt;
&lt;string&gt;This app needs access to location when in the background for location-based reminders.&lt;/string&gt;</string>
	<key>CFBundleIcons</key>
	<string>&lt;key&gt;UIBackgroundModes&lt;/key&gt;
&lt;array&gt;
    &lt;string&gt;location&lt;/string&gt;
&lt;/array&gt;</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flutter_application_1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSApplicationCategoryType</key>
	<string>&lt;key&gt;NSCalendarsFullAccessUsageDescription&lt;/key&gt;
&lt;string&gt;Access most functions for calendar viewing and editing.&lt;/string&gt;</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>&lt;key&gt;NSCalendarsUsageDescription&lt;/key&gt;
&lt;string&gt;We need calendar access to manage events.&lt;/string&gt;</string>
	<key>NSMainStoryboardFile</key>
	<string>&lt;key&gt;NSLocationWhenInUseUsageDescription&lt;/key&gt;
&lt;string&gt;Your location is used to set location-based reminders.&lt;/string&gt;</string>
	<key>UIApplicationExitsOnSuspend</key>
	<string>YES</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>processing</string>
		<string>nearby-interaction</string>
		<string>external-accessory</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>NSLocationWhenInUseUsageDescription</key>
<string>This app needs access to location when open to show your current location on the map.</string>

<key>NSLocationAlwaysUsageDescription</key>
<string>This app needs access to location when in the background for navigation features.</string>
</dict>
</plist>
